@model CheckPoint_3.Models.MessageAndUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Global_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Msgs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.message.Msg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message.Msg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message.Sender_User_Id)
        </dt>

        <dd>
            @foreach (var u in Model.users)
            {
                if (u.Id == Model.message.Sender_User_Id)
                {
                    @Html.DisplayFor(model => u.Email)
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message.Receiver_User_Id)
        </dt>

        <dd>
            @foreach (var u in Model.users)
            {
                if (u.Id == Model.message.Receiver_User_Id)
                {
                    @Html.DisplayFor(model => u.Email)
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
